*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background-color: lightsteelblue;
}
/*container*/
.container{
   display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    background: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 50px; 
    flex-direction: row; 
}
/*Menu*/
nav{
    position: absolute;
    width: 100%;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 3px black;
}
nav .logo{
    color: #000000;
    font-weight: 500;
    text-decoration: none;
    border-radius: 50px;
    padding: 8px 15px;
    list-style: none;
    font-size: 30px;
}
.logo:hover{
    background: #fff;
    box-shadow: 0 5px 18px rgba(0, 0, 0, 0.1);
    list-style: none;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
    margin: 0 10px;
}
nav ul li a{
    text-decoration: none;
    font-weight: 500;
    color: #000000;
    padding: 8px 15px;
    border-radius: 25px;
}
nav ul li a:hover,
nav ul li a.activo{
    background: #fff;
    box-shadow: 0 5px 18px rgba(0, 0, 0, 0.1);
}

nav  i{
    color: #000000;
}

/*Usuario*/
.form{
    position: absolute;
    max-width: 430px;
    width: 100%;
    padding: 30px;
    border-radius: 6px;
    background: rgb(227, 227, 227);
    box-shadow: 16px 0 16px rgb(150, 149, 149) ;
}

form{
    margin-top: 30px;
}
.form .field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    border-radius: 6px;
}
.field input,
.field button{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
}
.field input{
    outline: none;
    padding: 0 15px;
    border: 1px solid #CACACA;
}
.field input:focus{
    border-bottom-width: 2px;
}
.eye-icon{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #8b8b8b;
    cursor: pointer;
    padding: 5px;
}
.field button{
    color: #fff;
    background-color: #0171d3;
    transition: all 0.3s ease;
    cursor: pointer;
}
.field button:hover{
    background-color: #016dcb;
}
.form-link{
    text-align: center;
    margin-top: 10px;
}
.form-link span,
.form-link a{
    font-size: 14px;
    font-weight: 400;
    color: #232836;
}
.form a{
    color: #0171d3;
    text-decoration: none;
}
.form-content a:hover{
    text-decoration: underline;
}
.line{
    position: relative;
    height: 1px;
    width: 100%;
    margin: 36px 0;
    background-color: #000000;
}
.line::before{
    content: 'O';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(227, 227, 227);
    color: #000000;
    padding: 0 15px;
}
.media-options a{
    display: flex;
    align-items: center;
    justify-content: center;
}
a.facebook{
    color: #fff;
    background-color: #4267b2;
}
a.facebook .facebook-icon{
    height: 28px;
    width: 28px;
    color: #0171d3;
    font-size: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}
.facebook-icon,
img.google-img{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}
img.google-img{
    height: 20px;
    width: 20px;
    object-fit: cover;
}
a.google{
    border: 1px solid rgb(212, 202, 202);
    background-color: #fff;
}
a.google span{
    font-weight: 500;
    opacity: 0.6;
    color: #232836;
}
.warnings{
    width: 200px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    padding-top: 20px;
}
/*img*/
.representacion{
    animation: formimg 2s linear infinite;
}
@keyframes formimg {
    0%,100%{
        transform: translatey(25px);
    }
    50%{
        transform: translatey(10px);
    }
}
@media screen and (max-width: 400px) {
    .form{
        padding: 20px 10px;
    }
    
}